
#about {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Ttext {
    display: flex ;
    position: relative;
    top: 100px;
    left: 150px;
    font-size: 2.2em;
    font-family: "Raleway";
    font-weight: 800;
    width: fit-content;
    color:black;
}

#aboutDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 100px;
    font-size: 2.2em;
    font-family: "Raleway";
}

#aboutDiv .container {
    display: flex;
    padding: 100px 80px;
}

#aboutDiv .container .leftDiv  {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 30px;
    height: fit-content;
}
#aboutDiv .container .rightDiv  {
    width: 50%;
    padding: 30px;
}

#aboutDiv .container .rightDiv h1 {
    font-size: 1em;
    font-family: "Oswald";
    margin-bottom: 40px;
}

#aboutDiv .container .rightDiv p {
    font-size: 0.6em;
    font-family: "Raleway";
    font-weight: 400;
}
#aboutMe {
    width: 550px;
    
}

.aboutIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;

}

.downloadbtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.downloadCv {
    background-color: black;
    width: 350px;
    height: 70px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.downloadCv a{
    color: white;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 1.6em;
    letter-spacing: 0.08em;
    border: none;
    text-decoration: none;
}

.downloadCv:hover {
    background-color: #2b2b2b;
}


@media (max-width: 1024px) {

    #aboutMe {
        width: 350px;
    }

    .aboutIcons {

        gap: 15px;
        margin-top: 60px;
    
    }

}

@media (max-width: 840px) {
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Ttext {
        top: 115px;
        left: 0px;
        font-size: 2em;
    }
    
    #aboutDiv {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        top: 120px;
        font-size: 2.2em;
        font-family: "Raleway";
        padding: 60px 25px 110px;
    }
    
    #aboutDiv .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    
    #aboutDiv .container .leftDiv  {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
        height: fit-content;
    }
    #aboutDiv .container .rightDiv  {
        width: 100%;
        padding: 50px 30px;
    }
    
    #aboutDiv .container .rightDiv h1 {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    
    #aboutDiv .container .rightDiv p {
        font-size: 0.6em;

    }
    #aboutMe {
        width: 250px;
        
    }
    
    .aboutIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 60px;
    
    }


}

@media (max-width: 768px) {
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Ttext {
        top: 115px;
        left: 0px;
        font-size: 2em;
    }
    
    #aboutDiv {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        top: 120px;
        font-size: 2.2em;
        font-family: "Raleway";
        padding: 60px 25px 110px;
    }
    
    #aboutDiv .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    
    #aboutDiv .container .leftDiv  {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
        height: fit-content;
    }
    #aboutDiv .container .rightDiv  {
        width: 100%;
        padding: 50px 30px;
    }
    
    #aboutDiv .container .rightDiv h1 {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    
    #aboutDiv .container .rightDiv p {
        font-size: 0.6em;

    }
    #aboutMe {
        width: 250px;
        
    }
    
    .aboutIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 60px;
    
    }

    
}


@media  (max-width: 634px) {

    #aboutDiv {
        padding: 60px 15px 110px;
    }
    
    #aboutDiv .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    
    #aboutDiv .container .leftDiv  {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
        height: fit-content;
    }
    #aboutDiv .container .rightDiv  {
        width: 100%;
        padding: 50px 10px;
    }
    
    #aboutDiv .container .rightDiv h1 {
        text-align: center;
        font-size: 0.7em;
        margin-bottom: 20px;
    }
    
    #aboutDiv .container .rightDiv p {
        font-size: 0.3em;

    }
    #aboutMe {
        width: 180px;
        
    }
    
    .aboutIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin-top: 60px;
    
    }


    .downloadbtn{

        margin-top: 50px;

    }

    .downloadCv {
        background-color: black;
        width: 260px;
        height: 60px;
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }

    .downloadCv a{
        color: white;
        font-family: "Raleway";
        font-weight: 800;
        font-size: 1.6em;
        letter-spacing: 0.08em;
        border: none;
        text-decoration: none;
    }
        
}
