
#projects {
    height: fit-content;
    background-color: #1f1f1f ;
    color:white;

}


#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: min-content;
    padding: 30px 150px;
    gap: 10px;
    margin: 180px 0;

}

#projects .Ttext {
    display: flex ;
    position: relative;
    top: 100px;
    left: 150px;
    font-size: 2.2em;
    font-family: "Raleway";
    font-weight: 800;
    width: min-content;
    color:rgb(240, 237, 207);

}

#projects .Ttext:hover {
    color: rgb(15, 220, 245);
    transition: linear 0.3s;
}

.proj {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 50px;
}

.works {
    filter: brightness(90%);
    border-radius: 15px;
    width: 750px;
    border: 2px solid transparent;
    padding: 2px;


}

.projbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;


}

.projtitle {
    font-family: "Oswald";
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.works:hover {
    border: 2px solid rgb(15, 220, 245);
    transition: 0.3s;

}

.projbtn {
    display: flex;
    gap: 30px;

}

#projects .projbtn .buttons  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: rgb(240, 237, 207);
    border-radius: 50px;
    border: 2.5px solid rgb(15, 220, 245);
    width: 150px;
    height: 50px;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 1em;
}

#projects .projbtn .buttons:hover{
    background-color: rgb(15, 220, 245);
    color: #1f1f1f;
    transition: ease 0.2s;
    transform: scale(1.050);
    
}



@media only screen and (width <= 600px) {

}
